{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

{% set banner = page.extra.image | default(value="/img/default-banner.jpg") %}
<nav id="overlord" class="overlord">
  {% set base_url = get_url(path="/", lang=lang) %}
  <div>
    <a class="site_title" href="{{base_url}}">{{config.title}}<div>{{ config.description | as_str |
        markdown(inline=true) | safe }}</div></a>
    {{ macros::social_list(classes="header_list", bsize="small") }}
  </div>
</nav>

<section class="post_container">
  <article>
    {% block post %}
    <h1 class="article_title">{{ page.title }}</h1>
    {{ macros::frontmatter(classes="frontmatter_page", date=page.date, word_count=page.word_count,
    read_time=page.reading_time) }}
    {% if page.extra.image is defined %}
    <img src="{{page.extra.image}}" alt="{{page.extra.alt}}">
    {% endif %}
    {{ page.content | safe }}
    {% endblock post %}
  </article>
</section>
{% endblock content %}