.button {
  border-radius: 10px;
  border-width: 2px;
  border-color: var(--ifm-link-color);
  border-style: solid;
  color: var(--ifm-link-color);
  background-color: unset;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
}

.button * {
  margin: 0;
}

.button:hover {
  background-color: var(--ifm-link-color);
}

.button:hover * {
  color: var(--primary);
}